<script>
  import { onMount } from "svelte";
  import Nav from "../components/support/Nav.svelte";
  import Fiddle from "../components/support/Fiddle.svelte";
  import Footer from "../components/support/Footer.svelte";
  import Styles from "../components/Styles.svelte";
  import Grid from "../components/Grid.svelte";
  import Button from "../components/Button.svelte";
  import Text from "../components/Text.svelte";

  export let segment;
</script>

<style>
  nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    white-space: nowrap;
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
    overflow-x: auto;
    color: var(--color-light);
    background-color: var(--color-dark);
    box-shadow: var(--shadow--2);
  }
  main {
    padding: var(--gap);
  }
</style>

<svelte:head>
  <title>Fluid Visual Scaling Component Library</title>
</svelte:head>
<div>
  <nav>
    <Nav {segment} />
  </nav>
  <main>
    <slot />
  </main>
  <Footer />
  <Fiddle />
</div>
