<script>
  import Scale from "../components/support/index/scale.svelte";
  import Intro from "../components/support/index/intro.svelte";
  import Demos from "../components/support/index/demos.svelte";
  import Spacing from "../components/support/index/spacing.svelte";
  import Typography from "../components/support/index/typography.svelte";
  import Buttons from "../components/support/index/buttons.svelte";
  import Grid from "../components/Grid.svelte";
</script>

<Grid density="loose">
  <Intro />
  <Scale />
  <Demos />
  <Typography />
  <Buttons />
</Grid>
