<script>
  import Styles from "../Styles.svelte";
  import Text from "../Text.svelte";
</script>

<style>
  footer {
    padding: var(--gap);
    display: flex;
    justify-content: flex-end;
  }
</style>

<footer>
  <Text fontSize="sm" secondary>
    <a target="_blank" href="https://gitlab.com/superallan/fvscl">
      Code is on Gitlab
    </a>
    - made by
    <a target="_blank" href="http://superallan.com">Allan Corbett</a>
    in 2020.
  </Text>
</footer>
