<script>
  import Styles from "../Styles.svelte";
  import Heading from "../Heading.svelte";
  export let title;
</script>

<style>
  div {
    grid-column: 1 / -1;
    border-bottom: var(--border-width-hefty) solid var(--color-dark);
  }
</style>

<div>
  <Heading level="3">{title}</Heading>
</div>
