<script>
  import Heading from "../../components/Heading.svelte";
  import Form from "../../components/Form.svelte";
  import Input from "../../components/Input.svelte";
  import Button from "../../components/Button.svelte";
  import ButtonGroup from "../../components/ButtonGroup.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";
  import Table from "../../components/Table.svelte";

  let markup = `<Form>
...
</Form>`;
  let props = [
    {
      title: "class",
      value: "string"
    },
    {
      title: "density",
      value: '"tight" | "loose"'
    },
    { title: "title", value: "string" },
    { title: "titleLevel", value: "1 | 2 | 3 | 4 | 5 | 6" }
  ];
</script>

<Use title="Form" {markup} {props}>
  <div slot="example">
    <Grid>
      <Form title="Form Title" titleLevel="6">
        <Input />
        <Input />
        <ButtonGroup position="end">
          <Button />
        </ButtonGroup>
      </Form>
    </Grid>
  </div>
</Use>
