<script>
  import Heading from "../../components/Heading.svelte";
  import Button from "../../components/Button.svelte";
  import ButtonGroup from "../../components/ButtonGroup.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";
  import Table from "../../components/Table.svelte";

  let markup = `<Grid
  class="one"
  templateRows="100px auto"
  templateColumns="200px 1fr 2fr">
    <div style="grid-column: span 3;">1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
</Grid>

<Grid 
  class="two" 
  templateColumns="repeat(auto-fit, minmax(180px, 1fr)">
    <div>...</div>
</Grid>

<Grid 
  class="three" 
  templateColumns="repeat(6, 1fr)">
    <div style="grid-column: span 3;">1</div>
    <div style="grid-column: span 2;">2</div>
    <div>3</div>
    <div style="grid-column: span 2;">4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
</Grid>`;

  let props = [
    {
      title: "class",
      value: "string"
    },
    {
      title: "density",
      value: '"tight" | "loose"'
    },
    { title: "alignItems", value: "'normal' | valid css for 'align-items'" },
    {
      title: "justifyItems",
      value: "'normal' | valid css for 'justify-items'"
    },
    {
      title: "templateColumns",
      value: "'1fr' | valid css for 'grid-template-columns'"
    },
    {
      title: "templateRows",
      value: "'auto' | valid css for 'grid-template-rows'"
    }
  ];
</script>

<style>
  :global(.one div),
  :global(.three div),
  :global(.two div) {
    background-color: var(--color-info-background);
    border: var(--border-width-base) solid var(--color-info-border);
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<Use title="Grid" {markup} {props}>
  <div slot="example">
    <Grid>
      <Grid
        class="one"
        templateRows="100px auto"
        templateColumns="200px 1fr 2fr">
        <div style="grid-column: span 3;">1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
      </Grid>
      <hr />
      <Grid class="two" templateColumns="repeat(auto-fit, minmax(180px, 1fr)">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
      </Grid>
      <hr />
      <Grid class="three" templateColumns="repeat(6, 1fr)">
        <div style="grid-column: span 3;">1</div>
        <div style="grid-column: span 2;">2</div>
        <div>3</div>
        <div style="grid-column: span 2;">4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
      </Grid>
    </Grid>
  </div>
</Use>
