<script>
  import Heading from "../../components/Heading.svelte";
  import Input from "../../components/Input.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";
  import Table from "../../components/Table.svelte";

  let markup = `<Input />
<Input 
  label="Email" 
  value="inva lid-email@example.com" 
  type="email" />
<Input 
  label="Password" 
  type="password" />
<Input
  label="Number of things"
  type="number"
  value="314"
  help="We can only accept numbers in this field" />`;
  let props = [
    {
      title: "class",
      value: "string"
    },
    { title: "type", value: '"text" | "email" | "number"' },
    { title: "size", value: '"xs" | "sm" | "lg" | "xl"' },
    {
      title: "density",
      value: '"tight" | "loose"'
    },
    {
      title: "label",
      value: "string"
    },
    {
      title: "help",
      value: "string"
    },
    {
      title: "defaultValue",
      value: "string"
    }
  ];
  let customCss = `--input-label-color
--input-label-font-size
--input-padding
--input-font-size
--input-font-family
--input-background-color
--input-disabled-background
--input-border-radius
--input-border-width
--input-border-color
--input-border-color-active`;
</script>

<Use title="Input" {markup} {props} {customCss}>
  <div slot="example">
    <Grid>
      <Input label="Basic Text Input" type="text" placeholder="A placeholder" />
      <Input
        label="Email"
        defaultValue="inva lid-email@example.com"
        type="email" />
      <Input label="Password" type="password" defaultValue="Hunter2" />
      <Input
        label="Number of things"
        type="number"
        defaultValue="314"
        help="We can only accept numbers in this field" />
    </Grid>
  </div>
</Use>
