<script>
  import Radio from "../../components/Radio.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";

  let markup = `<Radio label="Cat" id="cat" name="Favourite" />
<Radio label="Dog" id="dog" name="Favourite" />
<Radio label="Bird" id="bird" name="Favourite" />`;
  let props = [
    {
      title: "class",
      value: "string"
    }
  ];
  let customCss = `--radio-size
--radio-button-gap
--radio-button-color`;
</script>

<Use title="Radio" {props} {markup} {customCss}>
  <div slot="example">
    <Grid justifyItems="start" alignItems="start">
      <Radio label="Cat" id="cat" name="Favourite" />
      <Radio label="Dog" id="dog" name="Favourite" />
      <Radio label="Bird" id="bird" name="Favourite" />
      <hr />
      <Radio label="Rena Holmes" id="Holmes" name="People" />
      <Radio label="Mamie Gilbert" id="Gilbert" name="People" />
      <Radio label="Mary Hogan" id="Hogan" name="People" />
      <Radio label="Mina Williams" id="Williams" name="People" />
      <Radio label="Blanche Lewis" id="Lewis" name="People" />
    </Grid>
  </div>
</Use>
