<script>
  import Range from "../../components/Range.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";

  let markup = `<Range min="0" max="10" label="Range of 0-10" />
<Range
  min="0"
  max="100"
  step="25"
  label="Range of 0-100 with step of 25" />
<Range min="0" max="100" value="66" label="Range of 0-100" />`;
  let props = [
    {
      title: "class",
      value: "string"
    },
    {
      title: "label",
      value: "string"
    },
    {
      title: "id",
      value: "string"
    },
    {
      title: "output",
      value: "string"
    },
    {
      title: "min",
      value: "string"
    },
    {
      title: "max",
      value: "string"
    },
    {
      title: "value",
      value: "string"
    },
    {
      title: "outputUnit",
      value: "string"
    },
    {
      title: "step",
      value: "string"
    },
    {
      title: "name",
      value: "string"
    },
    {
      title: "density",
      value: '"tight" | "loose"'
    }
  ];
  let customCss = `--range-track-height
--range-track-width
--range-track-background-color
--range-track-border-radius
--range-track-border
--range-thumb-background-color
--range-thumb-border
--range-thumb-height
--range-thumb-width
--range-thumb-border-radius`;
</script>

<Use title="Range" {props} {markup} {customCss}>
  <div slot="example">
    <Grid justifyItems="start" alignItems="start">
      <Range value="4" min="0" max="10" label="Range of 0-10" />
      <Range
        outputUnit="%"
        min="0"
        max="100"
        step="25"
        label="Range of 0-100 with step of 25" />
      <Range min="0" max="1" value="0.42" step="0.01" label="Range of 0-1" />
    </Grid>
  </div>
</Use>
