<script>
  import Heading from "../../components/Heading.svelte";
  import Text from "../../components/Text.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";
  import Table from "../../components/Table.svelte";

  let markup = `<Text>...</Text>
<Text lineHeight="tight">...</Text>
<Text lineHeight="loose">...</Text>
<Text fontSize="sm">...</Text>
<Text fontSize="xs">...</Text>`;
  let props = [
    {
      title: "class",
      value: "string"
    },
    {
      title: "fontSize",
      value: '"xs" | "sm" | "lg" | "xl"'
    },
    {
      title: "lineHeight",
      value: '"tight" | "loose"'
    },
    {
      title: "margin",
      value: '"top" | "bottom" | "left" | "right" | "none"'
    },
    {
      title: "Secondary",
      value: "secondary"
    }
  ];
  let customCss = `--text-margin-top
--text-margin-bottom
--text-margin-left
--text-margin-right
--text-size-xs
--text-size-sm
--text-size-lg
--text-size-xl
--text-line-height-tight
--text-line-height-loose
--text-secondary-opacity`;
</script>

<Use title="Text" {props} {markup} {customCss}>
  <div slot="example">
    <Grid justifyItems="start" alignItems="start">
      <Text>
        <p>
          Ad reprehenderit enim ipsum adipisicing laborum do irure aliquip enim.
          Ex sunt ad consectetur aute qui cillum cupidatat ut et tempor laborum
          irure. Aliqua eu qui tempor nostrud tempor laboris magna officia et
          laboris. Voluptate adipisicing minim minim commodo nostrud veniam
          mollit in. Ut adipisicing labore cillum id velit cupidatat ut. Nulla
          voluptate qui deserunt est ipsum labore aliquip minim officia dolore
          minim duis.
        </p>
        <ul>
          <li>
            Occaecat laboris fugiat ullamco anim adipisicing culpa labore
            laborum qui ea nulla.
          </li>
          <li>Laborum cillum nisi quis dolore aute.</li>
          <li>Ut eiusmod quis ipsum aliqua enim non.</li>
        </ul>
        <p>
          Veniam mollit ullamco mollit nisi. Adipisicing consequat veniam
          consequat cupidatat proident laborum ipsum pariatur nostrud pariatur.
          Ad consequat cillum esse eu cillum adipisicing veniam excepteur
          excepteur reprehenderit reprehenderit consequat. Irure in tempor
          ullamco laborum reprehenderit pariatur aliquip quis minim laboris
          velit. Officia mollit in dolore enim id cillum anim aliqua dolor
          dolore fugiat cillum nostrud. Ut consequat reprehenderit sint nulla
          fugiat non nulla commodo Lorem.
        </p>
      </Text>
      <hr />
      <Text lineHeight="tight">
        <p>
          Labore laborum fugiat in sunt ipsum aliqua aliqua anim labore laborum
          nisi consequat dolor. Mollit qui officia irure cupidatat. Nisi sunt
          mollit qui proident ullamco sunt. Ad deserunt quis officia magna
          adipisicing voluptate anim qui velit eiusmod mollit consequat mollit
          voluptate. Eiusmod proident commodo sint do sit reprehenderit anim
          laborum excepteur et fugiat cupidatat consequat. Ad proident eiusmod
          irure non magna. Dolore nostrud enim labore in esse Lorem amet quis
          nostrud eu ut. Irure deserunt quis exercitation officia velit
          exercitation voluptate velit anim excepteur id commodo occaecat
          consequat.Aute minim do officia aliqua ipsum sunt sit. Anim labore
          veniam et id nulla commodo ullamco. Nisi cupidatat ex voluptate
          reprehenderit incididunt nostrud est consectetur proident ipsum Lorem.
          Tempor tempor proident labore ullamco amet dolor. In tempor
          adipisicing amet consequat minim sunt dolore. Voluptate ad labore do
          est sit enim proident proident aliqua veniam voluptate anim quis
          cillum.
        </p>
      </Text>
      <hr />
      <Text lineHeight="loose">
        <p>
          Labore laborum fugiat in sunt ipsum aliqua aliqua anim labore laborum
          nisi consequat dolor. Mollit qui officia irure cupidatat. Nisi sunt
          mollit qui proident ullamco sunt. Ad deserunt quis officia magna
          adipisicing voluptate anim qui velit eiusmod mollit consequat mollit
          voluptate. Eiusmod proident commodo sint do sit reprehenderit anim
          laborum excepteur et fugiat cupidatat consequat. Ad proident eiusmod
          irure non magna. Dolore nostrud enim labore in esse Lorem amet quis
          nostrud eu ut. Irure deserunt quis exercitation officia velit
          exercitation voluptate velit anim excepteur id commodo occaecat
          consequat.Aute minim do officia aliqua ipsum sunt sit. Anim labore
          veniam et id nulla commodo ullamco. Nisi cupidatat ex voluptate
          reprehenderit incididunt nostrud est consectetur proident ipsum Lorem.
          Tempor tempor proident labore ullamco amet dolor. In tempor
          adipisicing amet consequat minim sunt dolore. Voluptate ad labore do
          est sit enim proident proident aliqua veniam voluptate anim quis
          cillum.
        </p>
      </Text>
      <hr />
      <Text fontSize="sm">
        <p>
          Elit adipisicing est tempor do. Exercitation commodo elit anim veniam
          excepteur adipisicing anim commodo quis. Nostrud consectetur id aliqua
          culpa proident est.
        </p>
        <p>
          Dolore sit id irure magna deserunt. Reprehenderit laborum anim nostrud
          irure. Consectetur qui ullamco et reprehenderit dolore pariatur labore
          commodo nostrud et. Amet excepteur do fugiat incididunt Lorem commodo.
        </p>
        <p>Esse exercitation anim tempor officia esse incididunt.</p>
      </Text>
      <hr />
      <Text fontSize="xs">
        <p>
          Aute aute dolor fugiat in excepteur excepteur occaecat voluptate esse
          consectetur sint laboris consequat sunt.
        </p>
        <p>
          Labore irure esse incididunt qui dolor labore aliqua nostrud fugiat
          consequat aute sint proident. Non officia amet voluptate sint enim ut
          do deserunt velit dolor eiusmod aliqua. Esse tempor esse officia
          deserunt eu tempor. Deserunt enim qui excepteur cupidatat commodo.
          Ipsum nostrud magna voluptate consequat elit esse excepteur irure
          laborum. Enim pariatur proident tempor amet consectetur exercitation
          nulla ex eu. Pariatur irure veniam nostrud id nostrud pariatur sint
          veniam incididunt ad proident ex.
        </p>
        <p>
          Aliqua esse aliquip non exercitation sit quis velit consequat anim
          elit sunt ad.
        </p>
      </Text>
    </Grid>
  </div>
</Use>
