<script>
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";
  import Textarea from "../../components/Textarea.svelte";

  let markup = `<Textarea
label="A textarea"
help="Some help text explaining why I want the user to do wrote so much" />`;
  let props = [
    {
      title: "class",
      value: "string"
    },
    {
      title: "density",
      value: '"tight" | "loose"'
    },
    {
      title: "label",
      value: "string"
    },
    {
      title: "help",
      value: "string"
    },
    {
      title: "defaultValue",
      value: "string"
    }
  ];
  let customCss = `--textarea-label-color
--textarea-label-font-size
--textarea-padding
--textarea-font-size
--textarea-font-family
--textarea-background-color
--textarea-disabled-background
--textarea-border-radius
--textarea-border-width
--textarea-border-color
--textarea-border-color-active`;
</script>

<Use title="Textarea" {markup} {props} {customCss}>
  <div slot="example">
    <Grid>
      <Textarea
        label="A textarea"
        help="Some help text explaining why I want the user to write so much" />
    </Grid>
  </div>
</Use>
