<script>
  import { onMount } from "svelte";
  import Heading from "../../Heading.svelte";
  import PageTitle from "../PageTitle.svelte";
  import Messagebox from "../../Messagebox.svelte";
  import Grid from "../../Grid.svelte";
  import Code from "../../Code.svelte";
  import Text from "../../Text.svelte";
  import Range from "../../Range.svelte";

  let slackOverrides = `:root {
  --min-size: 14; 
  --max-size: 18; 
  --min-ratio: 1.1;
  --max-ratio: 1.4;
}`;
  let bookOverrides = `:root {
  --font-family-base: serif;
  --min-size: 16;
  --max-size: 24;
  --min-ratio: 1.1;
  --max-ratio: 1.414;
}`;
  let formOverrides = `:root {
  --min-size: 14;
  --max-size: 22;
  --min-ratio: 1.1;
  --max-ratio: 1.234;
}`;
  let googleOverrides = `:root {
  --min-size: 14;
  --max-size: 16;
  --min-ratio: 1.2;
  --max-ratio: 1.3;
  --color-light: white;
}
body {
  --color-dark: #3c4043;
  --color-primary: #1a73e8;
}`;
  let gitlabOverrides = `:root {
  --min-size: 14;
  --max-size: 20;
  --min-width: 720;
  --min-ratio: 1.1;
  --max-ratio: 1.2;
}`;

  onMount(() => {
    var body = document.querySelector("body");
    var demo = document.querySelector(".demo");

    var slackWidth = document.querySelector(".slider-slack input").value;
    var jekyllWidth = document.querySelector(".slider-jekyll input").value;
    var formsWidth = document.querySelector(".slider-forms input").value;
    var gitlabWidth = document.querySelector(".slider-gitlab input").value;
    var googleWidth = document.querySelector(".slider-google input").value;

    demo.setAttribute(
      "style",
      "--slackWidth:" +
        slackWidth +
        ";--jekyllWidth:" +
        jekyllWidth +
        ";--formsWidth:" +
        formsWidth +
        ";--gitlabWidth:" +
        gitlabWidth +
        ";--googleWidth:" +
        googleWidth +
        ";"
    );

    body.addEventListener("change", event => {
      var slackWidth = document.querySelector(".slider-slack input").value;
      var jekyllWidth = document.querySelector(".slider-jekyll input").value;
      var formsWidth = document.querySelector(".slider-forms input").value;
      var gitlabWidth = document.querySelector(".slider-gitlab input").value;
      var googleWidth = document.querySelector(".slider-google input").value;
      if (
        event.target !== slackWidth &&
        event.target !== jekyllWidth &&
        event.target !== formsWidth &&
        event.target !== gitlabWidth &&
        event.target !== googleWidth
      ) {
        demo.setAttribute(
          "style",
          "--slackWidth:" +
            slackWidth +
            ";--jekyllWidth:" +
            jekyllWidth +
            ";--formsWidth:" +
            formsWidth +
            ";--gitlabWidth:" +
            gitlabWidth +
            ";--googleWidth:" +
            googleWidth +
            ";"
        );
      }
    });
  });
</script>

<style>
  span {
    grid-column: 1 / -1;
  }
  .demo {
    display: grid;
    gap: var(--gap);
    grid-template-columns: calc(var(--space-5) * 3) 4fr;
    max-width: calc(100vw - var(--gap) - var(--gap));
  }
  @media (max-width: 1141px) {
    .demo {
      grid-template-columns: 1fr;
    }
  }
  iframe {
    height: calc(100vh - (var(--space-5) * 3));
    box-shadow: var(--shadow-0);
    margin-bottom: var(--gap);
    max-width: calc(100vw - var(--gap) - var(--gap));
  }
  .slack {
    width: calc(var(--slackWidth) * 1%);
  }
  .jekyll {
    width: calc(var(--jekyllWidth) * 1%);
  }
  .forms {
    width: calc(var(--formsWidth) * 1%);
  }
  .gitlab {
    width: calc(var(--gitlabWidth) * 1%);
  }
  .google {
    width: calc(var(--googleWidth) * 1%);
  }
</style>

<PageTitle title="Demos" />
<div class="demo">
  <span>
    <Messagebox>
      <Text>
        Adjust the sliders to see how the demos work at different screen widths.
        They're all
        <strong>iframes</strong>
        so depending on factors your computer may or may not 💥.
      </Text>
      <Text margin="none">
        If so, sorry! You can always click the link to visit the site.
      </Text>
    </Messagebox>
  </span>
  <div>
    <Heading level="5">Slack</Heading>
    <Range
      label="Width:"
      name="slack"
      class="slider-slack"
      value="100"
      min="50"
      max="100"
      step="1"
      outputUnit="%" />
    <Text>
      <p>
        Slack reskinned using various
        <strong>fvscl</strong>
        components.
      </p>
      <p>Overridden CSS variables:</p>
      <Code pre>{slackOverrides}</Code>
      <p>
        <a href="https://fvscl-slack.netlify.app/" target="_blank">
          Visit full site
        </a>
        or
        <a href="https://gitlab.com/superallan/fvscl-slack" target="_blank">
          see the code.
        </a>
      </p>
    </Text>

  </div>
  <iframe
    class="slack"
    title="FVSCL Slack"
    src="https://fvscl-slack.netlify.app/"
    frameborder="0" />
  <div>
    <Heading level="5">Gitlab</Heading>
    <Range
      label="Width:"
      name="gitlab"
      class="slider-gitlab"
      value="100"
      min="75"
      max="100"
      step="1"
      outputUnit="%" />
    <Text>
      <p>
        Google Forms reskinned using various
        <strong>fvscl</strong>
        components.
      </p>
      <p>Overridden CSS variables:</p>
      <Code pre>{gitlabOverrides}</Code>
      <p>
        <a href="https://fvscl-gitlab.netlify.app/" target="_blank">
          Visit full site
        </a>
        or
        <a href="https://gitlab.com/superallan/fvscl-gitlab" target="_blank">
          see the code.
        </a>
      </p>
    </Text>
  </div>
  <iframe
    class="gitlab"
    title="FVSCL Gitlab"
    src="https://fvscl-gitlab.netlify.app/"
    frameborder="0" />
  <div>
    <Heading level="5">Google</Heading>
    <Range
      label="Width:"
      name="google"
      class="slider-google"
      value="100"
      min="75"
      max="100"
      step="1"
      outputUnit="%" />
    <Text>
      <p>
        Google Forms reskinned using various
        <strong>fvscl</strong>
        components.
      </p>
      <p>Overridden CSS variables:</p>
      <Code pre>{googleOverrides}</Code>
      <p>
        <a href="https://fvscl-google.netlify.app/" target="_blank">
          Visit full site
        </a>
        or
        <a href="https://gitlab.com/superallan/fvscl-google" target="_blank">
          see the code.
        </a>
      </p>
    </Text>
  </div>
  <iframe
    class="google"
    title="FVSCL Google"
    src="https://fvscl-google.netlify.app/"
    frameborder="0" />
  <div>
    <Heading level="5">Jekyll (& Hyde)</Heading>
    <Range
      label="Width:"
      name="jekyll"
      class="slider-jekyll"
      value="100"
      min="50"
      max="100"
      step="1"
      outputUnit="%" />
    <Text>
      <p>
        Using
        <a
          href="https://www.gutenberg.org/files/43/43-h/43-h.htm"
          target="="
          _blank>
          Gutenberg
        </a>
        as a source an entire book has been "typeset" using
        <strong>fvscl</strong>
        components.
      </p>
      <p>Overridden CSS variables:</p>
      <Code pre>{bookOverrides}</Code>
      <p>
        <a href="https://fvscl-book.netlify.app/" target="_blank">
          Visit full site
        </a>
        or
        <a href="https://gitlab.com/superallan/fvscl-books" target="_blank">
          see the code.
        </a>
      </p>
    </Text>
  </div>
  <iframe
    class="jekyll"
    title="FVSCL Book"
    src="https://fvscl-book.netlify.app/"
    frameborder="0" />
  <div>
    <Heading level="5">Forms</Heading>
    <Range
      label="Width:"
      name="forms"
      class="slider-forms"
      value="100"
      min="50"
      max="100"
      step="1"
      outputUnit="%" />
    <Text>
      <p>
        Google Forms reskinned using various
        <strong>fvscl</strong>
        components.
      </p>
      <p>Overridden CSS variables:</p>
      <Code pre>{formOverrides}</Code>
      <p>
        <a href="https://fvscl-forms.netlify.app/" target="_blank">
          Visit full site
        </a>
        or
        <a href="https://gitlab.com/superallan/fvscl-forms" target="_blank">
          see the code.
        </a>
      </p>
    </Text>
  </div>
  <iframe
    class="forms"
    title="FVSCL Forms"
    src="https://fvscl-forms.netlify.app/"
    frameborder="0" />

</div>
