<script>
  import { onMount } from "svelte";
  import Heading from "../../Heading.svelte";
  import Highlight from "../Highlight.svelte";
  import PageTitle from "../PageTitle.svelte";
</script>

<PageTitle title="FVSCL" />
<Heading level="1" margin="none">
  An experiment in harmonious
  <Highlight>Fluid Visual Scaling</Highlight>
  for
  <strike>typography</strike>
  a
  <Highlight>Component Library</Highlight>
  using CSS Variables and Svelte.
</Heading>
