<script>
  import PageTitle from "../PageTitle.svelte";
  import Range from "../../Range.svelte";
  import { onMount } from "svelte";
  onMount(() => {
    var body = document.querySelector("body");
    var iframe = document.querySelector("iframe");

    var iframeWidth = document.querySelector(".width input").value;

    iframe.setAttribute("style", "--width:" + iframeWidth + ";");

    body.addEventListener("change", event => {
      var iframeWidth = document.querySelector(".width input").value;
      if (event.target !== iframeWidth) {
        iframe.setAttribute("style", "--width:" + iframeWidth + ";");
      }
    });
  });
</script>

<style>
  iframe {
    height: 550px;
    box-shadow: var(--shadow-0);
    width: calc(var(--width) * 1%);
  }
</style>

<PageTitle title="Relative Scales" />
<iframe title="Relative" frameborder="0" src="http://localhost:5000/" />
<Range
  label="Adjust the slider to see how the components scale:"
  name="width"
  class="width"
  value="100"
  min="40"
  max="100"
  step="1"
  outputUnit="% wide" />
