<script>
  import { onMount } from "svelte";
  import PageTitle from "../PageTitle.svelte";
  import Highlight from "../Highlight.svelte";
  import Heading from "../../Heading.svelte";
  import Grid from "../../Grid.svelte";
  import Text from "../../Text.svelte";

  let minus2CurrentWidth;
  let minus1CurrentWidth;
  let baseCurrentWidth;
  let plus1CurrentWidth;
  let plus2CurrentWidth;
  let plus3CurrentWidth;
  let plus4CurrentWidth;
  let plus5CurrentWidth;
  function go() {
    let minus2 = document.querySelector(".space--2");
    let minus2Width = window.getComputedStyle(minus2);
    minus2CurrentWidth = minus2Width
      .getPropertyValue("width")
      .slice(0, -2)
      .substring(0, 5);
    let minus1 = document.querySelector(".space--1");
    let minus1Width = window.getComputedStyle(minus1);
    minus1CurrentWidth = minus1Width
      .getPropertyValue("width")
      .slice(0, -2)
      .substring(0, 5);
    let base = document.querySelector(".space-0");
    let baseWidth = window.getComputedStyle(base);
    baseCurrentWidth = baseWidth
      .getPropertyValue("width")
      .slice(0, -2)
      .substring(0, 5);
    let plus1 = document.querySelector(".space-1");
    let plus1Width = window.getComputedStyle(plus1);
    plus1CurrentWidth = plus1Width
      .getPropertyValue("width")
      .slice(0, -2)
      .substring(0, 5);
    let plus2 = document.querySelector(".space-2");
    let plus2Width = window.getComputedStyle(plus2);
    plus2CurrentWidth = plus2Width
      .getPropertyValue("width")
      .slice(0, -2)
      .substring(0, 5);
    let plus3 = document.querySelector(".space-3");
    let plus3Width = window.getComputedStyle(plus3);
    plus3CurrentWidth = plus3Width
      .getPropertyValue("width")
      .slice(0, -2)
      .substring(0, 5);
    let plus4 = document.querySelector(".space-4");
    let plus4Width = window.getComputedStyle(plus4);
    plus4CurrentWidth = plus4Width
      .getPropertyValue("width")
      .slice(0, -2)
      .substring(0, 5);
    let plus5 = document.querySelector(".space-5");
    let plus5Width = window.getComputedStyle(plus5);
    plus5CurrentWidth = plus5Width
      .getPropertyValue("width")
      .slice(0, -2)
      .substring(0, 5);
  }
  onMount(() => {
    go();
    window.addEventListener("resize", go);
    window.addEventListener("change", go);
  });
</script>

<style>
  .tile {
    background: var(--render-background);
    padding: var(--space-0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tile > * {
    background-color: var(--color-dark);
  }
  .space--2 {
    height: var(--space--2);
    width: var(--space--2);
  }
  .space--1 {
    height: var(--space--1);
    width: var(--space--1);
  }
  .space-0 {
    height: var(--space-0);
    width: var(--space-0);
  }
  .space-1 {
    height: var(--space-1);
    width: var(--space-1);
  }
  .space-2 {
    height: var(--space-2);
    width: var(--space-2);
  }
  .space-3 {
    height: var(--space-3);
    width: var(--space-3);
  }
  .space-4 {
    height: var(--space-4);
    width: var(--space-4);
  }
  .space-5 {
    height: var(--space-5);
    width: var(--space-5);
  }
</style>

<Grid templateColumns="auto 1fr" density="loose">
  <PageTitle title="Spacing" />
  <div class="tile">
    <div class="space--2" />
  </div>
  <Text margin="none">
    <code>space--2</code>
    currently renders as
    <Highlight>{minus2CurrentWidth}px</Highlight>
  </Text>
  <div class="tile">
    <div class="space--1" />
  </div>
  <Text margin="none">
    <code>space--1</code>
    currently renders as
    <Highlight>{minus1CurrentWidth}px</Highlight>
  </Text>
  <div class="tile">
    <div class="space-0" />
  </div>
  <Text margin="none">
    <code>space-0</code>
    used as the base size for padding, margins and gaps. Currently renders as
    <Highlight>{baseCurrentWidth}px</Highlight>
  </Text>
  <div class="tile">
    <div class="space-1" />
  </div>
  <Text margin="none">
    <code>space-1</code>
    currently renders as
    <Highlight>{plus1CurrentWidth}px</Highlight>
  </Text>
  <div class="tile">
    <div class="space-2" />
  </div>
  <Text margin="none">
    <code>space-2</code>
    currently renders as
    <Highlight>{plus2CurrentWidth}px</Highlight>
  </Text>
  <div class="tile">
    <div class="space-3" />
  </div>
  <Text margin="none">
    <code>space-3</code>
    currently renders as
    <Highlight>{plus3CurrentWidth}px</Highlight>
  </Text>
  <div class="tile">
    <div class="space-4" />
  </div>
  <Text margin="none">
    <code>space-4</code>
    currently renders as
    <Highlight>{plus4CurrentWidth}px</Highlight>
  </Text>
  <div class="tile">
    <div class="space-5" />
  </div>
  <Text margin="none">
    <code>space-5</code>
    currently renders as
    <Highlight>{plus5CurrentWidth}px</Highlight>
  </Text>
</Grid>
