<script>
  import Styles from "./Styles.svelte";
  let class_name = "";
  export { class_name as class };
  export let position = undefined;
  $: position = undefined ? "start" | "end" | "spread" : position;
</script>

<style>
  div {
    display: flex;
    margin-left: calc(var(--gap) * -0.5);
    margin-right: calc(var(--gap) * -0.5);
  }
  div > :global(*) {
    margin-left: calc(var(--gap) * 0.5);
    margin-right: calc(var(--gap) * 0.5);
  }
  [position="start"] {
    justify-content: flex-start;
  }
  [position="end"] {
    justify-content: flex-end;
    width: calc(100% + var(--gap));
  }
  [position="spread"] {
    justify-content: space-between;
    width: calc(100% + var(--gap));
  }
</style>

<div class={class_name} {position}>
  <slot />
</div>
