<script>
  import Styles from "./Styles.svelte";
  let class_name = "";
  export { class_name as class };
  export let borderRadius = undefined;
  $: borderRadius = undefined
    ? "none" | "xs" | "sm" | "lg" | "xl"
    : borderRadius;
  export let padding = undefined;
  $: padding = undefined ? "none" | "xs" | "sm" | "lg" | "xl" : padding;
</script>

<style>
  div {
    --card-background-color: var(--color-light);
    --card-color: var(--color-dark);
    --card-shadow: var(--shadow-0);
    --card-padding-base: var(--space-0);
    --card-padding-xs: var(--space--2);
    --card-padding-sm: var(--space--1);
    --card-padding-lg: var(--space-1);
    --card-padding-xl: var(--space-2);

    box-shadow: var(--card-shadow);
    padding: var(--card-padding-base);
    background: var(--card-background-color);
    color: var(--card-color);
    border-radius: var(--border-radius-base);
  }
  [borderRadius="none"] {
    border-radius: 0;
  }
  [borderRadius="xs"] {
    border-radius: var(--border-radius-xs);
  }
  [borderRadius="sm"] {
    border-radius: var(--border-radius-sm);
  }
  [borderRadius="lg"] {
    border-radius: var(--border-radius-lg);
  }
  [borderRadius="xl"] {
    border-radius: var(--border-radius-xl);
  }
  [padding="none"] {
    padding: 0;
  }
  [padding="xs"] {
    padding: var(--card-padding-xs);
  }
  [padding="sm"] {
    padding: var(--card-padding-sm);
  }
  [padding="lg"] {
    padding: var(--card-padding-lg);
  }
  [padding="xl"] {
    padding: var(--card-padding-xl);
  }
</style>

<div {borderRadius} {padding} class={class_name}>
  <slot />
</div>
