<script>
  export let pre;
</script>

<style>
  code {
    display: inline-block;
    font-family: monospace;
    font-size: var(--font-size-sm);
    color: var(--color-dark);
    background-color: hsla(
      var(--color-dark-h),
      var(--color-dark-s),
      var(--color-dark-l),
      0.05
    );
    padding: var(--gap);
    border-radius: var(--border-radius-xs);
    overflow: auto;
    width: calc(100% - var(--gap) - var(--gap));
  }
</style>

<code>
  {#if pre}
    <pre>
      <slot />
    </pre>
  {:else}
    <slot />
  {/if}
</code>
