<script>
  import Heading from "./Heading.svelte";
  export let summary;
</script>

<style>
  details {
    border-bottom: var(--border-width-hefty) solid var(--color-dark);
    padding-bottom: var(--gap);
    font-size: var(--font-size-base);
  }
  :global(details[open]) {
    padding-bottom: 0;
  }
  summary {
    font-weight: var(--font-weight-bold);
  }
  div {
    padding: var(--gap) 0;
  }
</style>

<details>
  <summary>{summary}</summary>
  <div>
    <slot />
  </div>
</details>
