<script>
  import Styles from "./Styles.svelte";
  import Heading from "./Heading.svelte";
  let class_name = "";
  export { class_name as class };
  export let title;
  $: titleLevel = undefined ? 1 | 2 | 3 | 4 | 5 | 6 : titleLevel;
  export let titleLevel = "3";
  $: density = undefined ? "tight" | "loose" : density;
  export let density = undefined;
</script>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--gap);
  }
  [density="tight"] {
    gap: var(--space--1);
  }
  [density="loose"] {
    gap: var(--space-1);
  }
  form > :global(*:last-child) {
    margin-bottom: 0;
  }
</style>

<form class={class_name} {density}>
  {#if title}
    <Heading margin="none" level={titleLevel}>{title}</Heading>
  {/if}
  <slot />
</form>
