<script>
  import Styles from "./Styles.svelte";
  let class_name = "";
  export { class_name as class };
  $: level = undefined ? 1 | 2 | 3 | 4 | 5 | 6 : level;
  export let level = "1";
  export let underline = undefined;
  $: margin = undefined ? "top" | "bottom" | "left" | "right" | "none" : margin;
  export let margin = "bottom";
</script>

<style>
  :root {
    --heading-margin-top: 0.5em;
    --heading-margin-bottom: 0.5em;
    --heading-margin-left: 0.5em;
    --heading-margin-right: 0.5em;
    --heading-line-height: var(--line-height-tight);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    line-height: var(--heading-line-height);
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
  }
  h1 {
    font-size: var(--step-5);
  }
  h2 {
    font-size: var(--step-4);
  }
  h3 {
    font-size: var(--step-3);
  }
  h4 {
    font-size: var(--step-2);
  }
  h5 {
    font-size: var(--step-1);
  }
  h6 {
    font-size: var(--step-0);
  }
  [underline] {
    text-decoration: underline;
  }
  [margin="none"] {
    margin: 0;
  }
  [margin*="top"] {
    margin-top: var(--heading-margin-top);
  }
  [margin*="bottom"] {
    margin-bottom: var(--heading-margin-bottom);
  }
  [margin*="left"] {
    margin-left: var(--heading-margin-left);
  }
  [margin*="right"] {
    margin-right: var(--heading-margin-right);
  }
</style>

{#if level === '1'}
  <h1 class={class_name} {margin} {underline}>
    <slot />
  </h1>
{:else if level === '2'}
  <h2 class={class_name} {margin} {underline}>
    <slot />
  </h2>
{:else if level === '3'}
  <h3 class={class_name} {margin} {underline}>
    <slot />
  </h3>
{:else if level === '4'}
  <h4 class={class_name} {margin} {underline}>
    <slot />
  </h4>
{:else if level === '5'}
  <h5 class={class_name} {margin} {underline}>
    <slot />
  </h5>
{:else if level === '6'}
  <h6 class={class_name} {margin} {underline}>
    <slot />
  </h6>
{/if}
