<script>
  import Styles from "./Styles.svelte";
  let class_name = "";
  export { class_name as class };
  export let margin = undefined;
  $: margin = undefined ? "top" | "bottom" | "left" | "right" | "none" : margin;
  export let fontSize = undefined;
  $: fontSize = undefined ? "xs" | "sm" | "lg" | "xl" : fontSize;
  export let density = undefined;
  $: density = undefined ? "tight" | "loose" : density;
  export let listStyle = undefined;
  $: listStyle = undefined
    ? "circle" | "disc" | "square" | "decimal" | "lower-latin" | "upper-latin"
    : listStyle;
  export let horizontal = undefined;
</script>

<style>
  :root {
    --list-margin-top: var(--gap);
    --list-margin-bottom: var(--gap);
    --list-margin-left: var(--gap);
    --list-margin-right: var(--gap);
  }
  ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  ul > :global(li) {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
  }
  [listStyle] {
    padding-left: calc(var(--gap) + var(--gap));
  }
  [listStyle="disc"] {
    list-style-type: disc;
  }
  [listStyle="circle"] {
    list-style-type: circle;
  }
  [listStyle="square"] {
    list-style-type: square;
  }
  [listStyle="decimal"] {
    list-style-type: decimal;
  }
  [listStyle="lower-latin"] {
    list-style-type: lower-latin;
  }
  [listStyle="upper-latin"] {
    list-style-type: upper-latin;
  }
  [fontSize="xs"] {
    font-size: var(--font-size-xs);
  }
  [fontSize="sm"] {
    font-size: var(--font-size-sm);
  }
  [fontSize="lg"] {
    font-size: var(--font-size-lg);
  }
  [fontSize="xl"] {
    font-size: var(--font-size-xl);
  }
  [margin="none"] {
    margin: 0;
  }
  [margin*="top"] {
    margin-top: var(--list-margin-top);
  }
  [margin*="bottom"] {
    margin-bottom: var(--list-margin-bottom);
  }
  [margin*="left"] {
    margin-left: var(--list-margin-left);
  }
  [margin*="right"] {
    margin-right: var(--list-margin-right);
  }
  [density="loose"] > :global(li) {
    padding: var(--space-1) 0;
    line-height: var(--line-height-loose);
  }
  [density="tight"] > :global(li) {
    padding: var(--space--1) 0;
    line-height: var(--line-height-tight);
  }
  [horizontal] {
    flex-direction: row;
  }
  [horizontal] > :global(li) {
    padding: 0 var(--gap);
  }
  [horizontal] + [density="loose"] > :global(li) {
    padding: 0 var(--space-1);
  }
  [horizontal] + [density="tight"] > :global(li) {
    padding: 0 var(--space--1);
  }
</style>

<ul {horizontal} class={class_name} {listStyle} {fontSize} {density} {margin}>
  <slot />
</ul>
