<script>
  import Styles from "./Styles.svelte";
  let class_name = "";
  export { class_name as class };
</script>

<style>
  li {
    margin: 0;
  }
</style>

<li class={class_name}>
  <slot />
</li>
