<script>
	import Styles from './Styles.svelte';
	let class_name = '';
	export { class_name as class };
</script>

<style>
	table {
		font-size: var(--font-size-sm);
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
	}
	:global(thead) {
		background-color: var(--color-dark);
	}
	:global(th) {
		color: var(--color-light);
		padding: var(--space--2);
		text-align: start;
	}
	:global(td) {
		padding: var(--space--2);
	}
</style>

<table class={class_name}>
	<slot />
</table>
